gradio[oauth]>=5.0,<7
python-dotenv
langchain
langchain-community
langchain-groq
chromadb
sentence-transformers
PyPDF2
langchain-text-splitters
unstructured
python-pptx
fastembed
huggingface_hub
gTTS>=2.5